.admin-controlbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
}

.controlbar-left {
    display: flex;
    align-items: center;

    h2 {
        font-size: $font-s * 1.5;
        margin-right: 47px;
    }
}

.add-box {
    span {
        color: $color-accent;
    }  
}

.controlbar-right {

    .material-icons {
        &:last-child {
            margin-left: 26px;
        }
    }

}

.admin-table {
    margin-bottom: 63px;

    thead {
        border-bottom-color: $grey-900;

        tr {
            th {
                padding-bottom: 4.5px;
                padding-left: 0;

                .material-icons {
                    font-size: $font-s;
                    margin-left: 7px;
                    color: $color-accent;
                }
            }
        }
    }

    tbody {
        tr {
            th, td {
                padding: 19px 0 17px;

                .material-icons { 
                    padding-right: 0;  
                }
            }

            td {
                &:nth-last-child(-n+2) {
                    text-align: center;
                }
            }
        }
    }
}

.pagination {
    justify-content: flex-end;

    .page-item {
        
        .page-link {
            color: $color-accent;
            border-color: $color-accent;
            padding: 6px 12px;

            &:hover, &:active {
                background: $color-accent;
                color: #fff;

                .material-icons {
                    color: #fff;
                }
            }
                
            .material-icons {
                color: $color-accent;
            }
        } 
        
        .page-link-forward, .page-link-backward {
            padding: 4px;
        }
   
    }
    
}

.modal-body {

    h6 {
        font-size: $font-s * 1.25;
        margin-bottom: 16px;
    }
}

.account-form {
    label {
        font-size: $font-xs;
        margin-bottom: 4px;
    }

    input {
        width: 100%;
    }

    .account-input1 {
        margin-bottom: 16px;
    }
}


.veri-box {

    .veri-content {
        display: flex;
        justify-content: space-between;
    
        P {    
            &:last-child {
                font-size: $font-xs;
            }
        }
    
        .material-icons {
            color: $color-accent;
            margin-right: 10px;
        }
    }

    button {
        width: 100%;
        border-color: $grey-400;
    }
}

.access-level-box {
    select {
        width: 100%;
        border-color: $grey-900;
    }
}

.deactivate-box {
    button {
        width: 100%;
    }
}

.modal-footer {
    .btn {
        padding: 8px 32px;
    }
}

.card {
    border: none;

    &-body {
        padding: 0 0 0 24px;

        h5 {
            font-size: $font-s * 1.5;
        }
    }
    &-text {
        margin-bottom: 12px;
    }

}

.card-mark {
    display: flex;
    justify-content: space-between;
}

.view-veri {
    display: flex;
    justify-content: space-between;
    
    .view-veristatus {
        background-color: $grey-100;
        border-radius: 2px;
        padding: 4px 8px;
        font-size: $font-xs;
    }

    .material-icons {
        color: $color-accent;
    }
}

.view-img {
    border-radius: 2px;
    width: 141px;
    height: 141px;
    object-fit: cover; 
}

.expand-more {
    display: inline-block;
}

.expand-less {
    display: none;
}

.collapsed .expand-more {
    display: none; //icon變換效果沒出現
}

.collapsed .expand-less {
    display: inline-block;
}






