body {
    font-family: 'Lato', sans-serif;
    color: $grey-900;
}

p {
    margin-bottom: 0;
}

a {
    text-decoration: none;
    color: $grey-900;
}

span {
    display: inline-block;
    vertical-align: middle;
}

.material-icons {
    color: $grey-900;
}